/*FUENTES*/
.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}

/*ESTILO*/
body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0em;
}

/*HEADER*/
#header{
  display: flex;
  flex-direction: row;
  margin-left: 25em;
  margin-right: 15em;
  height: 3.3em;
}

#header #contacto{
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-evenly;
}

#header #contacto #correo{
  display: flex;
  flex-direction: row;
}

#header #contacto #correo p#correo{
  font-weight: bold;
  font-size: 1.1em;
}

#header #contacto #correo #correo_svg{
  height: 1em;
  padding-top: 1.3em;
  padding-right: 0.5em;
}

#header #contacto #telefono{
  display: flex;
  flex-direction: row;
}

#header #contacto #telefono #telefono_svg{
  height: 1em;
  padding-top: 1.3em;
  padding-right: 0.5em;
}

#header #contacto #telefono p#telefono{
  font-weight: bold;
  font-size: 1.1em;
  padding-top: 0.05em;
}

#header #sociales{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10em;
  width: 25%;
  justify-content: space-evenly;
}

#header #boton_cita{
  display: flex;
  background-color: #C32D2D;
  width: 10%;
  justify-content: space-evenly;
}

#header #boton_cita p{
  margin-top: 0.6em;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

#separador{
  border: solid #66666690 0.1em;
}

/*MENU*/
#menu{
  display: flex;
  flex-direction: row;
  height: 6em;
}

#menu #logo{
  width: 45%;
  display: flex;
  justify-content: center;
}

#menu #logo p{
  margin: 0em;
  padding-top: 1em;
  font-weight: bold;
  font-size: 2em;
  color: #C32D2D;
  text-shadow: 0em 0.06em 0em #00000044;
}

#menu #opciones{
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  column-gap: 1em;
}

#menu #opciones p{
  margin: 0em;
  padding-top: 1.5em;
  font-weight: bold;
  font-size: 1.5em;
}

/*HERO*/
#hero{
  background-image: url(./public/images/fondo-carrusel-117.png);
  height: 35em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.07);
}

#hero #titulo{
  position: relative;
  z-index: 2;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
  font-weight: 700;
  margin-left: 12em;
  margin-top: 5em;
  width: 20em;
}

#hero #subtitulo{
  position: relative;
  z-index: 2;
  color: white;
  margin-left: 17em;
  margin-top: 1em;
  width: 30em;
  font-size: 1.2em;
}

#botonera{
  width: 20%;
  height: 4em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  margin-left: 24em;
  color: white;
  font-weight: bold;
  font-size: 1em;
  justify-content: space-between;
  column-gap: 1.5em;
}

#botonera #boton1{
  background-color: #C32D2D;
  border-radius: 0.5em;
  width: 11em;
  box-shadow: rgba(255, 255, 255, 0.072) 0em 0em 0.2em;
  padding-left: 1em;
  align-content: center;
}

#botonera #boton2{
  border: solid white 0.1em;
  border-radius: 0.5em;
  width: 11em;
  box-shadow: rgba(255, 255, 255, 0.072) 0em 0em 0.2em;
  padding-left: 1em;
  align-content: center;
}

/*CUERPO*/
#cuerpo{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*SERVICIOS*/
.contenedor{
  border: solid black 0.1em;
  border-radius: 0.8em;
  width: 20%;
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo-contenedor{
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 600;
}

.texto-contenedor{
  margin-top: 1em;
}

.icono-contenedor{
  margin-top: 1em;
  height: 5em;
  width: 5em;
}

.boton-contenedor{
  align-content: center;
  margin-top: 1em;
  background-color: #c32d2dc7;
  color: white;
  border-radius: 1em;
  width: 6em;
  height: 2em;
}

#servicios{
  display: grid;
  justify-content: space-evenly;
  height: 50em;
  align-content: center;
  width: 80em;
  row-gap: 3em;
}

#cuerpo #servicios #contenedor1{
  height: 18em;
  width: 18em;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

#cuerpo #servicios #contenedor2{
  height: 18em;
  width: 18em;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

#cuerpo #servicios #contenedor3{
  height: 18em;
  width: 18em;
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}

#cuerpo #servicios #contenedor4{
  height: 18em;
  width: 18em;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#cuerpo #servicios #contenedor5{
  height: 18em;
  width: 18em;
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

#cuerpo #servicios #contenedor6{
  height: 18em;
  width: 18em;
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

/*TESTIMONIALS*/
#testimonials{
  display: grid;
  justify-content: space-evenly;
  height: 40em;
  align-content: center;
  width: 80em;
  row-gap: 3em;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
  font-weight: 600;
}

.testimonial-exterior{
  height: 35em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial-interior{
  border: solid;
  border-radius: 2em;
  background-color: #c32d2dc7;
  color: white;
  height: 35em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial-texto{
  margin-top: 3em;
  width: 15em;
}

.testimonial-nombre{
  margin-top: 1em;
}

/*FAQ*/
.pregunta{
  border: solid #706F6F;
  height: 4em;
  border-radius: 1em;
  width: 40;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto-pregunta{
  font-size: 1.53em;
  font-weight: 500em;
  padding-left: 1em;
  width: 38em;
}

.flecha-faq{
  padding-left: 5em;
  padding-right: 1.5em;
}

#faq{
  display: flex;
  flex-direction: column;
  height: 40em;
  width: 80em;
  padding-left: 6em;
}

#faq #titulo{
  height: 1em;
  font-size: 6em;
}

#faq #contenedor{
  display: flex;
  flex-direction: row;
  height: 25em;
  width: 80em;
}

#preguntas{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 50em;
  height: 20em;
  row-gap: 1em;
  margin-right: 1.5em;
}

#imagen-faq{
  height: 20em;
  align-self: center;
}

#footer{
  height: 22em;
  background-color: #c32d2dc7;
  display: flex;
  flex-direction: column;
  color: white;
}

#footer #titulo-footer{
  font-size: 2.5em;
  font-weight: 800;
  padding-left: 2em;
  padding-top: 0.5em;
}

#footer #contenedor{
  display: flex;
  flex-direction: row;
  height: 17em;
  justify-content: space-evenly;
  align-items: center;
}

.columna{
  display: flex;
  flex-direction: column;
  height: 13em;
  width: 15em;
}

.titulo-columna{
  font-size: 1.3em;
  font-weight: 600;
  width: 15em;
  text-underline-offset: 0.2em;
}

.opcion-footer{
  height: 13em;
  font-size: 1.2em;
  width: 12em;
}

p.opcion-footer{
  margin: 0em;
  padding: 0em;
  height: 2em;
}

#contenedor2{
  display: flex;
  flex-direction: column;
  height: 17em;
  width: 15em;
}

#contenedor2 #logo{
  margin: 0em;
  padding: 0em;
  height: 11em;
}

#contenedor2 #copyright{
  margin: 0em;
  padding: 0em;
  height: 5em;
}