/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Lora&family=Open+Sans&display=swap');

/* Tamaño de fuente en el documento (¿1em = 14px?)*/
html {
  font-size: 14px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}

.texto {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1em;
}

.boton {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

/*ESTILO*/
body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0em;
}

/*HEADER*/
.social-img{
  height: 3.4em;
}

#header{
  display: flex;
  flex-direction: row;
  margin-left: 25em;
  margin-right: 15em;
  height: 3.3em;
}

#header #contacto{
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-evenly;
}

#header #contacto #correo{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#header #contacto #correo #correo_svg{
  height: 1em;
  margin-right: 0.4em;
}

#header #contacto #telefono{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#header #contacto #telefono #telefono_svg{
  height: 1em;
  margin-right: 0.4em;
}

#header #sociales{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10em;
  width: 25%;
  justify-content: space-evenly;
}

#header #boton_cita{
  align-content: center;
  background-color: #C32D2D;
  color: white;
  text-align: center;
  width: 10%;
}

#header #boton_cita:hover{
  background-color: #a32626;
}

#separador{
  border: solid #66666690 0.1em;
}

/*MENU*/
#menu{
  display: flex;
  flex-direction: row;
  height: 6em;
  align-items:center;
  justify-content: space-evenly;
}

#menu #opciones{
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  column-gap: 1em;
}

#menu #opciones a{
  color: black;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 500;
  font-family: 'Lora', serif;
}

#menu #opciones a:hover{
  color: #C32D2D;
}

/*HERO*/
#hero{
  background-image: url(./public/images/fondo-carrusel-117.png);
  height: 35em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.24);
}

#hero #hero-titulo{
  position: relative;
  z-index: 2;
  color: white;
  margin-left: 12em;
  margin-top: 5em;
  width: 45em;
}

#hero #hero-subtitulo{
  position: relative;
  z-index: 2;
  color: white;
  margin-left: 12em;
  width: 45em;
}

#botonera{
    z-index: 2;
  width: 20%;
  height: 4em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  margin-left: 17.5em;
  justify-content: center;
  column-gap: 1em;
}

#botonera #boton1{
  width: 11em;
  background-color: #C32D2D;
  border: solid rgba(255, 255, 255, 0) 0.1em;
  border-radius: 0.5em;
  color: white;
  transition: all 0.3s ease;
}

#botonera #boton1:hover{
  background-color: #a93226;
  transform: translateY(-0.3em);
  box-shadow: 0 0.8em 0.8em rgba(0, 0, 0, 0.3);

}

#botonera #boton2{
  width: 11em;
  background-color: #ffffff00;
  border: solid white 0.1em;
  border-radius: 0.5em;
  color: white;
  transition: all 0.3s ease;
}

#botonera #boton2:hover{
  background-color: #ffffffea;
  color: #c0392b;
  transform: translateY(-0.3em);
  box-shadow: 0 0.8em 0.8em rgba(0, 0, 0, 0.3);
}

/*CUERPO*/
#cuerpo{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*SERVICIOS*/
.titulo-contenedor{
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 600;
}

.texto-contenedor{
  margin-top: 1em;
}

.img-servicios{
  margin-top: 1em;
  height: 5em;
  width: 5em;
}

.boton-contenedor{
  align-content: center;
  margin-top: 1em;
  background-color: #c32d2dc7;
  border: rgba(255, 255, 255, 0) solid;
  color: white;
  border-radius: 1em;
  width: 6em;
  height: 2em;
  font-size: 1em;
  text-transform: none;
  transition: all 0.3s ease;
}

.boton-contenedor:hover{
  background-color: #b94747;
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0.8em rgba(0, 0, 0, 0.3);
}

.serviciosContenedor{
  height: 18em;
  width: 18em;
  border: solid black 0.1em;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#servicios{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 50em;
  align-content: center;
  width: 80em;
  column-gap: 3em;
  row-gap: 3em;
}

/*TESTIMONIALS*/
#testimonials{
  display: grid;
  justify-content: space-evenly;
  height: 40em;
  align-content: center;
  width: 80em;
  row-gap: 3em;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.testimonial-exterior{
  height: 35em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial-interior{
  border-radius: 2em;
  background-color: #c32d2dc7;
  color: white;
  height: 35em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial-texto{
  margin-top: 3em;
  width: 15em;
}

.testimonial-nombre{
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  
}

.testimonial-exterior, .testimonial-interior {
  transition: all 0.3s ease;
  border-radius: 2em;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.322);
}

.testimonial-exterior:hover, .testimonial-interior:hover {
  transform: translateY(-2em);
  box-shadow: 0 0.8em 0.8em rgba(0, 0, 0, 0.3);
}

/*FAQ*/
.pregunta{
  border: 0.16em solid #706F6F;
  height: 4em;
  border-radius: 1em;
  width: 40;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto-pregunta{
  font-size: 1.2em;
  font-weight: 500em;
  padding-left: 1em;
  width: 38em;
}

.flecha-faq{
  padding-left: 5em;
  padding-right: 1.5em;
  width: 2.5em;
}

#faq{
  display: flex;
  flex-direction: column;
  height: 40em;
  width: 80em;
  padding-left: 6em;
}

#faq #titulo{
  height: 1em;
  font-size: 4em;
  margin-bottom: 0em;
}

#faq #contenedor{
  display: flex;
  flex-direction: row;
  height: 25em;
  width: 80em;
}

#preguntas{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 50em;
  height: 20em;
  row-gap: 1em;
  margin-right: 1.5em;
}

#imagen-faq{
  height: 20em;
  align-self: center;
}

/*FOOTER*/
#footer{
  height: 24em;
  background-color: #c32d2dc7;
  display: flex;
  flex-direction: column;
  color: white;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: white;
  text-decoration: underline;
}

#footer #titulo-footer{
  font-size: 2.5em;
  font-weight: 800;
  padding-left: 2em;
  padding-top: 0.5em;
  margin-bottom: 0em;
}

#footer #contenedor{
  display: flex;
  flex-direction: row;
  height: 17em;
  justify-content: space-evenly;
  align-items: center;
}

.columna{
  display: flex;
  flex-direction: column;
  height: 13em;
  width: 15em;
}

p.opcion-footer.texto{
  margin: 0.15em;
  padding: 0em;
}

.titulo-columna{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  width: 15em;
  text-underline-offset: 0.2em;
  margin-bottom: 0.2em;
}

.opcion-footer{
  margin-top: 0.4em;
}

#contenedor2{
  display: flex;
  flex-direction: column;
  height: 17em;
  width: 15em;
}

#contenedor2 img#logo{
  margin: 0em;
  padding: 0em;
  height: 11em;
}

p#copyright-texto{
  margin: 0em;
  text-align: center;
}